
/*
|  PADDINGS
|
*/

// ALL
.p-a-0{
    padding: 0px !important;
  }
  
  .p-a-5{
    padding: 5px !important;
  }
  
  .p-a-10{
    padding: 10px !important;
  }
  
  .p-a-15{
    padding: 15px !important;
  }
  
  .p-a-20{
    padding: 20px !important;
  }
  
  // BOTTOM
  .p-b-0{
    padding-bottom: 0px !important;
  }
  
  .p-b-5{
    padding-bottom: 5px !important;
  }
  .p-b-10{
    padding-bottom: 10px !important;
  }
  .p-b-15{
    padding-bottom: 15px !important;
  }
  .p-b-20{
    padding-bottom: 20px !important;
  }
  
  
  // LEFT
  .p-l-0{
    padding-left: 0px !important;
  }
  
  .p-l-5{
    padding-left: 5px !important;
  }
  .p-l-10{
    padding-left: 10px !important;
  }
  .p-l-15{
    padding-left: 15px !important;
  }
  .p-l-20{
    padding-left: 20px !important;
  }
  
  // RIGHT
  .p-l-0{
    padding-right: 0px !important;
  }
  .p-l-5{
    padding-right: 5px !important;
  }
  .p-l-10{
    padding-right: 10px !important;
  }
  .p-l-15{
    padding-right: 15px !important;
  }
  .p-l-20{
    padding-right: 20px !important;
  }
  
  
  // TOP
  .p-t-0{
    padding-top: 0px !important;
  }
  .p-t-5{
    padding-top: 5px !important;
  }
  .p-t-10{
    padding-top: 10px !important;
  }
  .p-t-15{
    padding-top: 15px !important;
  }
  .p-t-20{
    padding-top: 20px !important;
  }
  
